@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');

.App{
  min-height: 100vh;
  background: #ffffff url("./herbs.jpg") repeat right top;
  padding: 1em;
  opacity: .8;
  font-family: 'Nanum Gothic', sans-serif;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 11px;
  font-size: 16px;
  border: 1px solid lightgray;
}

.search-button{
  background: #668d2c;
  border: none;
  padding: 10px 20px;
  color: white;
  font-size: 19px;
}

.search-button:active {
  opacity: .7;
}

.search-button:hover {
  background: #517023;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe-title {
  text-align: center;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  -o-text-overflow: ellipsis;  
  text-overflow: ellipsis;   
}

.recipe-title:hover {
  color: #668d2c;
}

.recipe-calories {
  text-transform: uppercase;
  font-size: 14px;
}