.recipe{
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  background: white;
  padding:  3em;
  max-width: 400px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.recipe:hover{
  opacity: .9;
}

.ingredients,
li {
  list-style-type: none;
  font-size: 18px;
  padding: .3em 1em;
}
